﻿@model MVCMovie.Models.Movie

@{
  ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="create-movie__react-anchor"></div>
<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
