@model MVCMovie.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  <h4>Movie</h4>
  <hr />
  <dl class="data-list">
    <dt class="data-list__terms">
      @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd class="data-list__description">
      @Html.DisplayFor(model => model.Title)
    </dd>

    <dt class="data-list__terms">
      @Html.DisplayNameFor(model => model.ReleaseDate)
    </dt>

    <dd class="data-list__description">
      @Html.DisplayFor(model => model.ReleaseDate)
    </dd>

    <dt class="data-list__terms">
      @Html.DisplayNameFor(model => model.Genre)
    </dt>

    <dd class="data-list__description">
      @Html.DisplayFor(model => model.Genre)
    </dd>

    <dt class="data-list__terms">
      @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd class="data-list__description">
      @Html.DisplayFor(model => model.Price)
    </dd>

    <dt class="data-list__terms">
      @Html.DisplayNameFor(model => model.Rating)
    </dt>

    <dd class="data-list__description">
      @Html.DisplayFor(model => model.Rating)
    </dd>
  </dl>

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
      <input type="submit" value="Delete" class="btn btn-default" /> |
      @Html.ActionLink("Back to List", "Index")
    </div>
  }
</div>
