@model MVCMovie.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="data-list">
        <dt class="data-list__terms">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="data-list__description">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="data-list__terms">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd class="data-list__description">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt class="data-list__terms">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd class="data-list__description">
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt class="data-list__terms">
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd class="data-list__description">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="data-list__terms">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd class="data-list__description">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
