@model MVCMovie.Models.Movie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

  <div className="edit-moive__react-anchor" data-movies="@HttpUtility.HtmlEncode(Html.Action("GetMovieListJson", "Movies"))"></div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
