@model IEnumerable<MVCMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<div class="movie-index__react-anchor" data-movies="@HttpUtility.HtmlEncode(Html.Action("GetMovieListJson", "Movies"))"></div>

