<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie App</title>
    @Styles.Render("/assets/dist/bloc.min.css")

</head>
<body>
  @Html.Partial("_navbar")

  <div class="container body-content">
    @RenderBody()

    <footer class="footer">
      <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/modernizr")
  @RenderSection("scripts", required: false)
  <script src='/assets/dist/bloc.min.js'></script>
</body>
</html>
