
<div class="navbar">
  <div class="container">
    <div class="navbar__logo">
      @Html.ActionLink("Movie App", "Index", "Movies", "Movies", new { @class = "navbar__logo__h3" })
    </div>
    <div class="navbar__container">
      <ul class="navbar__container__ul">
        <li class="navbar__container__ul__li">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "navbar__container__ul__li__a" })</li>
        <li class="navbar__container__ul__li">@Html.ActionLink("About", "About", "Home", new { }, new { @class = "navbar__container__ul__li__a" })</li>
        <li class="navbar__container__ul__li">@Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "navbar__container__ul__li__a" })</li>
        <li class="navbar__container__ul__li">@Html.ActionLink("Movies", "Index", "Movies", new { }, new { @class = "navbar__container__ul__li__a" })</li>
      </ul>
    </div>
  </div>
</div>
