@include component(form) {
  padding-bottom: 10px;
  @include part(field) {
    padding: 10px 10px 10px 10px;

    margin:5px;


    @include part(input) {
      padding: .5em .6em;
      display: inline-block;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
    }

    @include part(text-field) {
      margin-left: 5px;
      margin-right: 5px;
      padding: 10px;
      width: 100%;
    }
  }
  @include part(button) {
    padding: .5em 1em;
    border: transparent;
    background-color: #3498db;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-size: 100%;

  }
}
