@include component(data-list){
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0;
  margin: 0;

  @include part(terms) {
    flex: 0 0 50%;
    overflow:hidden;
  }

  @include part(description) {
    flex: 0 0 50%;
    margin-left: auto;
    text-align:left;
  }
}
