@include component(form) {
  
  @include part(form-group){

    @include part(form-label){
      display:inline-block;
      padding: 12px 12px 12px 0px;

    }

    @include part(form-input) {
      width: 100%;
      padding: 10px 20px;
      margin: 8px;
      box-sizing: border-box;

    }
  }
}
