@include component(navbar) {
  margin-bottom: 20px;
  background-color: $palette_b;

  @include part(logo) {
    float: left;
    padding: 14px 16px;

    @include part(h3){
      color: white;
    }

  }

  @include part(container) {

    @include part(ul) {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;


      @include part(li) {
        float: left;
        color: white;

        @include part(a) {
          display: inline-block;
          padding: 14px 16px;
          color: white;
        }
      }
    }
  }
}
