@include component(table) {
  width: 100%;

  @include part(row) {

    &:nth-child(even) {
      background-color: #cdf4dd;
    }

    &:hover {
      background-color: #1abc9c;
    }

    @include part(header) {
      background-color: $palette_a;
      border: 1px solid black;
      text-align: center;
      border: 1px solid black;
      height: 15px;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
      white-space: nowrap;
    }

    @include part(data) {
      border: 1px solid black;
      font-size: 1rem;
      text-align: left;
      border: 1px solid black;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    @include part(empty) {
      background-color: white;
    }

    @include part (links) {
      padding-left: 2px;
      background-color: white;
    }
  }
}
