 /*************************************************|
| Breakpoints                                     |
*************************************************/

$bigmobile                         : 500px;
$tablet                            : 760px;
$landscapetablet                   : 960px;
$desktop                           : 1260px;

/*************************************************|
| Colours                                         |
*************************************************/

$white                         	  : #fff;
$black					            		  : #000;
$grey-0                           : rgba($black, .05);
$grey-1                           : rgba($black, .1);
$grey-2                           : rgba($black, .2);
$grey-3                           : rgba($black, .3);
$grey-4                           : rgba($black, .4);
$grey-5                           : rgba($black, .5);
$grey-6                           : rgba($black, .6);
$grey-7                           : rgba($black, .7);
$grey-8                           : rgba($black, .8);
$grey-9                           : rgba($black, .9);

$palette_a                        : #2ecc71;
$palette_b                        : #1abc9c;
$palette_c                        : #b70000;
$palette_d                        : #282828;
$palette_e                        : #08AF22;
$gradient-palette-a-b             : linear-gradient(312deg, $palette_a, $palette_b);
$gradient-grey                    : linear-gradient(124deg, $grey-1, $black);


/*************************************************|
| Font Settings - sizes in px                     |
*************************************************/

$basefont                          : 'Univers-Light', sans-serif;
$headingfont                       : 'TiemposHeadlineLight', sans-serif;
$boldfont                          : 'Univers', sans-serif;
$displayfont                       : 'GraphikSemibold', sans-serif;
$italicfont                        : 'GraphikSemibold', sans-serif;
$numberfont                        : 'GraphikSemibold', sans-serif;

$basefontsize                      : 14;
$lineheight                        : 20;
$headersizes                       : 3, 2.25, 1.5, 1.313, 1.125, 1;
$headermargins                     : 0.563, 0.625, 1.313, 1.313, 1.313, 0.75;

$basefontcolor                     : $grey-9;
$headingcolor                      : $grey-9;

/*************************************************|
| Container Variables                             |
*************************************************/

$max-width                         : 1400px;
$basepadding__mobile               : 14px;
$basepadding                       : 28px;
$largepadding                      : 1.8em;
$gutter                            : 3;

/*************************************************|
| Transition Times                                |
*************************************************/
$transition_time                   : 0.3s;
